/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.table td.td-addButton {
  vertical-align: bottom;
}

.table {
  margin-bottom: 0;
}

tr {
  visibility: visible;
  transition: visibility 2s;
}

.table>tbody>tr>td {
  padding: 5px;
}

.panel-body {
  padding: 0;
}

small {
  display: block;
}

.error {
  color: red;
}

input {
  width: 85%;
  border-radius: 3px;
  border: 1px solid darkgrey;
  padding: 6px 5px 6px 10px;
  color: black;
}

.thumbnail {
  background: #333;
  color: white;
}

.jumbotron {
  padding-top: 90px;
}

.btn {
  height: 30px;
  width: 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background: #333;
}

.site-title {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
}

.site-title:before {
  content: '';
  background: rgba(241,92,34,1);
  width: 600px;
  z-index: -1;
  position: absolute;
  left: -455px;
  display: block;
  height: 90px;
  top: 0;
  transform: skew(-40deg, 0);
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.header-main {
    position: relative;
    z-index: 11;
    transform: translateY(103px);
}

.logo {
    display: inline-block;
    vertical-align: middle;
    min-height: 1px;
    min-width: 1px;
    transform: translateX(10px);
}

/*Item animations*/
.swing-side {
  perspective: 200px;
}

.swing-slide tr {
  transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
}

tr {
  height: 0;
  overflow: hidden;
}

.swing-side tr.appear {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76);
}

li.appear {
    height: 2em;
    border-width: 2px;
}

.inner-row {
  max-height: 10px;
  -webkit-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
  transition: max-height 1.5s ease cubic-bezier(0, 1.05, 0, 1);
  overflow: hidden;
}

.inner-row:hover {
  max-height: 300px;
}

.glyphicon-chevron-down.flipItem:before {
  content: "\e113";
}
.glyphicon-chevron-down.flipOneTime:before {
  content: "\e113";
}
.glyphicon-chevron-down.flipMonthly:before {
  content: "\e113";
}