/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.table td.td-addButton {
  vertical-align: bottom;
}

.table {
  margin-bottom: 0;
}

.table>tbody>tr>td {
  padding: 5px;
}

.panel-warning>.panel-heading {
  background-color: #ec971f;
}

.panel-body {
  padding: 0;
}

small {
  display: block;
}

.error {
  color: red;
}